.centered-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f0f0f0; 
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
    /* style.css */
/* style.css */

body {
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
}

.navbar {
  background-color: #FFA500; /* Orange background for the navbar */
 
 
  border-bottom: 2px solid #800000; /* 
}

.navbar-brand, .nav-link {
  color:#800000; 
  font-weight: bold; 
  transition: color 0.3s ease; 
}

.nav-link {
  padding: 10px 10px; /* Add padding to the navigation links */ 
  font-weight: bold; /* Make navigation links bold */

  transition: background-color 0.3s ease, color 0.3s ease; 
  border-color: #FFA500;
}
.nav-link:hover {
  color: B22222; 
  display: block; 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav-item{
	  padding: 8px 6px;
	 border-color: black;
	 
	   
}

.btn-outline-success {
  color: #FFA500; /* Orange text color for the search button */
  border-color: #FFA500; /* Orange border color for the search button */
}

.centered-div {
  color: #FFA500; /* Orange text color for the centered div */
}
form[role="search"] input.form-control {
  border-color: #333; /* Dark border color for the search input */
}

header {
  background-color: #FFD700; /* Yellow background for the header */
  color: #333; /* Dark text color for the header */
  padding: 20px; /* Add padding to the header */
  text-align: center; /* Center-align text in the header */
}

section {
  background-color: #FFE4B5; /* Light yellow background for the section */
  color: #333; /* Dark text color for the section */
  padding: 20px; /* Add padding to the section */
}

footer {
  background-color: #FFD700; /* Yellow background for the footer */
  color: #333; /* Dark text color for the footer */
  padding: 20px; /* Add padding to the footer */
  text-align: center; /* Center-align text in the footer */
}
